.root { -fx-background-color: transparent; }

#fenetre
{
    -fx-background-radius :  20;
}

#escadron,
#armada
{
    -fx-background-color: #262424;
    -fx-background-radius: 10;
}

#armada #liste-escadrons .escadron,
#escadron #liste-vaisseaux .vaisseau
{
    -fx-background-color:  #3786ff;
    -fx-background-radius:  10;
    
}
#armada #liste-escadrons .escadron .titre,
#escadron #liste-vaisseaux .vaisseau .titre
{
    -fx-text-fill:black;
    -fx-spacing: 50;
}

#armada #armada-details, 
#escadron #escadron-details
{
    -fx-background-radius: 20;
    -fx-background-color: linear-gradient(to bottom left, #e0a422, #2D75E8);
}

#armada #explications Button,
#escadron #explications Button
{
    -fx-background-color :linear-gradient(to top left, #e0a422, #87b4fa);
    -fx-background-radius :  30 30 30 30;
    -fx-text-fill:white;
    -fx-cursor:hand;
}
#armada #explications Button:hover,
#escadron #explications Button:hover
{
    -fx-background-color :linear-gradient(to top left, #e0a422, #87b4fa);
    -fx-background-radius :  30 30 30 30;
}
#armada #explications Button:pressed,
#escadron #explications Button:pressed
{
    -fx-background-color: black;
    -fx-background-radius :  30 30 30 30;
}

#menu
{
    -fx-background-color: black;
    -fx-background-radius:  15 0 0 15;
}
#menu Button
{
    -fx-text-fill:white;
}

#menu > Pane
{
    -fx-background-radius: 15 0 15 15;
}
#menu Button
{
    -fx-background-color : black;
    -fx-background-radius :  0 0 0 0;
}
#menu Button:hover
{
    -fx-cursor: hand;
    -fx-fill: black;
    -fx-background-color : #524A7B ;
}
#menu Button:pressed
{
    -fx-background-color : #2F2B43 ;
}
#entete
{
    -fx-background-radius: 20 20 0 0;
    -fx-background-color: linear-gradient(to bottom left, #A868A0, #e0a422);
}
#editer-vaisseau Label, #ajouter-vaisseau Label
{
	-fx-text-fill:white;
	-fx-font-weight:bold;
	-fx-font-size:20px;
}
#editer-vaisseau Button, #ajouter-vaisseau Button
{
	-fx-background-color:#3786ff;
	-fx-text-fill:white;
	-fx-font-weight:bold;
	-fx-font-size:50px;	
}
